.well{
    background-color: #000;
    color: white;
}
.well strong{
    font-size: 25px;
}
.well button{
    margin-top: 20px;
}
.thumbnail span{
    text-align: center;
    font-size: 30px;
    color: black;
    padding-left: 35%;
}

